
@import url('./reset.css');
@import "izitoast/dist/css/iziToast.min.css";
@import "simplelightbox/dist/simple-lightbox.min.css";

* {
  font-family: Montserrat, sans-serif;
}

button:focus {
  outline: 0;
}

#search-form {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.search-input {
  color: #808080;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: inline-block;
  width: 272px;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid #808080;
}

.search-input:hover {
  border: 1px solid #000;
}

.search-input:focus {
  border: 1px solid #4E75FF;
  color: #2E2F42;
}

.search-btn, .load-more-btn {
  color: #FFF;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  background-color: #4E75FF;
}

.search-btn:hover, .load-more-btn:hover {
  background-color: #6C8CFF;
}

.search-btn:focus, .load-more-btn:focus {
  background-color: #6C8CFF;
}

.gallery {
  margin-top: 32px;
  display: flex;
  gap: 24px;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery-item {
  border: 1px solid #000;
  border-radius: 4px;
  flex-basis: calc((100% - 48px) / 4);
  overflow: hidden;
}

.gallery-image {
  display: block;
  width: 100%;
  height: 250px;
  cursor: zoom-in;
}

.gallery-item-stats {
  display: flex;
  justify-content: space-around;
}

.gallery-item-stats-item {
  text-align: center;
  padding: 5px 0px;
}

.gallery-item-stats-label {
  font-weight: bold;
  margin: 5px;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-transform: capitalize;
}

.gallery-item-stats-value {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.loader.hidden {
  display: none;
}

.load-more-btn.hidden {
  display: none;
}

.loader {
  margin: 50px -24px 0 50%;
  width: 48px;
  height: 48px;
  border: 5px solid #000;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.load-more-wrapper {
  text-align: center;
  padding: 24px 0;
}